<ion-view view-title="בית" ng-controller="HomeCtrl">
    <ion-content scroll="false">
        <div class="homebg">
            <h2>ברוכים הבאים</h2>
            <p>דקות15</p>
          <a href="#/tab/report" class="button button-block button-balanced">
              לטופס תלונה לחץ כן
          </a>
        </div>
    </ion-content>
</ion-view>


<!--
<form ng-submit="addPerson()">
    		<div class="list">
	        	<label class="item item-input item-floating-label">
			    	<span class="input-label">Name</span>
			    	<input type="text" placeholder="Name" ng-model="formData.name">
			  	</label>
			  	<label class="item item-input item-floating-label">
			  	  	<span class="input-label">Age</span>
			  	  	<input type="text" placeholder="Age" ng-model="formData.age">
			  	</label>
	         	<button type="submit" class="button button-block button-positive">
	         	  	Add New Person
	         	</button>
         	</div>
        </form>

        <div class="card" ng-repeat="person in personlist.results">
          	<div class="item item-text-wrap item-icon-right">
            	<h3>{{ person.name }}</h3>
                <h4>{{ person.age }}</h4>
                <i class="icon ion-trash-a" ng-click="removePerson(person)"></i>
          	</div>
        </div>
-->
